body {
    text-align: center;
    position: relative;
}

.school-logo {
    margin-top: 2%;
    height: 150px;
}

h5 {
    padding-left: 15px;
    padding-right: 15px;
}

.checkin-container {
    width: 90%;
    height: 50%;
    background-color: #005A4E;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.privacy-container {
    width: 90%;
    height: 50%;
    background-color: #005A4E;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
}

.checkin-container h3 {
    margin-bottom: 25px;
}

.container-form {
    margin-right: 15%;
    margin-left: 15%;
}

.btn-primary {
    background-color: #FFFFFF !important;
    color: #005A4E !important;
    border-color: #FFFFFF !important;
    margin-top: 10px;
}

.bus-info {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.swal2-styled.swal2-confirm {
    background-color: #005A4E !important;
}